<!DOCTYPE html>
<!-- vim: set tw=0 wm=0: -->
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover"/>
    <meta name="wechat-enable-text-zoom-em" content="true"/>
    <title>小通通日常助手</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/t/wx_fed/weui-source/res/2.5.16/weui.min.css"/>
    <link rel="stylesheet" href="static/style/example.css"/>
    <style>
        .page__title {
            text-align: center;
        }
        .page {
            opacity: 1;
        }
        .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body ontouchstart>
    <script type="text/javascript">
      if(window.__wxWebEnv){
        document.body.style.webkitTextSizeAdjust = JSON.parse(window.__wxWebEnv.getEnv()).fontScale + '%';
      }
    </script>
    <div class="container" id="container">
        <div class="page">
            {{template "content" .}}
            <div class="page__ft">
                <div class="weui-footer">
                    <div class="weui-footer__text">
                        <a class="weui-footer__text__meta center-block"
                            href="http://beian.miit.gov.cn/">沪ICP备2023013014号-1</a>
                        <a class="weui-footer__text__meta gongan_meta center-block"
                            href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011302007335">
                            <img src="./static/image/gongan.png" alt="公安图标"/>
                            沪公网安备 31011302007335号
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

